<nav id="sidebar" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">

{{- $currentNode := . }}
{{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}

<div class="highlightable">
  <div id="header-wrapper">
    <div id="header">
      {{- partial "logo.html" . }}
    </div>
    {{- if not .Site.Params.noSearch}}
        {{- partial "search.html" . }}
    {{- end}}
  </div>


    <ul class="topics">
        {{- if not .Site.Params.noHomeIcon}}
            <li data-nav-id="{{.Site.BaseURL}}" class="dd-item">
            <a href="{{.Site.BaseURL}}"><i class="fa fa-fw fa-home"></i></a>
            </li>
        {{- end}}

        {{- if eq .Site.Params.ordersectionsby "title"}}
          {{- range .Site.Home.Sections.ByTitle}}
          {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
          {{- end}}
        {{- else}}
          {{- range .Site.Home.Sections.ByWeight}}
          {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
          {{- end}}
        {{- end}}

        {{- with .Site.Menus.shortcuts}}
        <section id="shortcuts">
            {{- range sort . "Weight"}}
                <li class="" role="">
                    {{- .Pre -}}
                    <a href="{{.RelPermalink}}" target="_blank" rel="noopener">{{safeHTML .Name}}</a>
                    {{- .Post -}}
                </li>
            {{- end}}
        </section>

        {{- if $.Site.Params.showVisitedLinks}}
            <a class="" href="#" data-clear-history-toggle=""><i class="fa  fa-history"></i> {{T "Clear-History"}}</a>
        {{- end}}

        {{- end}}
    </ul>


    <section id="footer">
      {{- partial "menu-footer.html" . }}
    </section>
  </div>
</nav>

<!-- templates -->
{{- define "section-tree-nav" }}
{{- $showvisitedlinks := .showvisitedlinks }}
{{- $currentNode := .currentnode }}
 {{- with .sect}}
  {{- if and .IsSection (or (not .Params.hidden) $.showhidden)}}
    {{- safeHTML .Params.head}}
    <li data-nav-id="{{.RelPermalink}}" class="dd-item
        {{- if .IsAncestor $currentNode}} parent{{end}}
        {{- if eq .File.UniqueID $currentNode.File.UniqueID}} active{{end}}
        {{- if .Params.alwaysopen}} parent{{end -}}
        ">
      <a href="{{ .RelPermalink}}">
        <span>{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</span>

        {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
        {{- if ne $numberOfPages 0 }}
          {{- if or (.IsAncestor $currentNode) (.Params.alwaysopen) }}
            <i class="fa fa-angle-down fa-lg category-icon"></i>
          {{- else -}}
            <i class="fa fa-angle-right fa-lg category-icon"></i>
          {{- end}}
        {{- end}}

        {{- if $showvisitedlinks}}<i class="fa fa-circle-thin read-icon"></i>{{end}}
      </a>
      {{- if ne $numberOfPages 0 }}
        <ul>
          {{- .Scratch.Set "pages" .Pages }}
          {{- if .Sections}}
          {{- .Scratch.Set "pages" (.Pages | union .Sections) }}
          {{- end}}
          {{- $pages := (.Scratch.Get "pages") }}

        {{- if eq .Site.Params.ordersectionsby "title"}}
          {{- range $pages.ByTitle }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{- end}}
          {{- end}}
        {{- else}}
          {{- range $pages.ByWeight }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{- end}}
          {{- end}}
        {{- end}}
        </ul>
      {{- end}}
    </li>
  {{- else}}
    {{- if not .Params.Hidden }}
      <li data-nav-id="{{.RelPermalink}}" class="dd-item
     {{- if eq .File.UniqueID $currentNode.File.UniqueID}} active{{end -}}
      ">
        <a href="{{ .RelPermalink}}">
          <span>{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</span>
          {{- if $showvisitedlinks}}<i class="fa fa-circle-thin read-icon"></i>{{end}}
        </a>
    </li>
     {{- end}}
  {{- end}}
 {{- end}}
{{- end}}
